<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <p id="results">
            <span id="final_span" class="final"></span>
            <span id="interim_span" class="interim"></span>
          </p>
          <h1 id="div_language">
            <select id="select_language" onchange="updateCountry()"></select>
            <select id="select_dialect"></select>
            <button class="btn" id="start_button" onclick="startButton(event)"><i id="start_img" class="fa fa-microphone fa-2x"></i></button>
          </h1>
          <div id="info">
            <h3 id="info_start">Click on the microphone icon and begin speaking.</h3>
            <h3 id="info_speak_now">Speak now.<br>Press Enter or click on the spinning microphone when finished</h3>
            <h3 class="alert alert-warning" id="info_no_speech">No speech was detected. You may need to adjust your <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">microphone settings</a>.</h3>
            <h3 class="alert alert-danger" id="info_no_microphone">No microphone was found. Ensure that a microphone is installed and that <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">microphone settings</a> are configured correctly.</h3>
            <h3 id="info_allow">Click the "Allow" button above to enable your microphone.</h3>
            <h3 class="alert alert-danger" id="info_denied">Permission to use microphone was denied.</h3>
            <h3 class="alert alert-danger" id="info_blocked">Permission to use microphone is blocked. To change, go to chrome://settings/contentExceptions#media-stream</h3>
            <h3 id="copy_info">Press Control-C to copy text.<br>(Command-C on Mac.)</h3>
            <h3 id="email_info">Text sent to default email application.<br>(See chrome://settings/handlers to change.)</h3>
            <h3 class="alert alert-warning" id="info_upgrade">Web Speech API is not supported by your browser. Download <a href="//www.google.com/chrome">Chrome</a> version 25 or later.</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="container">
        <div class="carousel-caption">
          <camera class="thumbnail" id="Kazhi" data-uuid="0dcc2730-60b4-0131-ffc9-22000a499ea4"></camera>
        </div>
      </div>
    </div>
<!--<div class="item">
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>-->
    </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<%= javascript_include_tag "speech" %>