<div class="container">
  <div class="page-header">
    <div id="div_language">
      <select id="select_language" onchange="updateCountry()"></select>
      &nbsp;&nbsp;
      <select id="select_dialect"></select>
      &nbsp;&nbsp;
      <button class="btn" id="start_button" onclick="startButton(event)"><i id="start_img" class="fa fa-microphone fa-2x"></i></button>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="info">
        <p class="lead" id="info_start">Click on the microphone icon and begin speaking.</p>
        <p class="lead" id="info_speak_now">Speak now.</p>
        <div class="alert alert-warning" id="info_no_speech">No speech was detected. You may need to adjust your <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">microphone settings</a>.</div>
        <div class="alert alert-danger" id="info_no_microphone" style="display:none">No microphone was found. Ensure that a microphone is installed and that <a href="//support.google.com/chrome/bin/answer.py?hl=en&amp;answer=1407892">microphone settings</a> are configured correctly.</div>
        <p class="lead" id="info_allow">Click the "Allow" button above to enable your microphone.</p>
        <div class="alert alert-danger" id="info_denied">Permission to use microphone was denied.</div>
        <div class="alert alert-danger" id="info_blocked">Permission to use microphone is blocked. To change, go to chrome://settings/contentExceptions#media-stream</div>
        <p id="copy_info" class="lead">Press Control-C to copy text.<br>(Command-C on Mac.)</p>
        <p id="email_info" class="lead">Text sent to default email application.<br>(See chrome://settings/handlers to change.)</p>
        <div class="alert alert-warning" id="info_upgrade">Web Speech API is not supported by this browser. Upgrade to <a href="//www.google.com/chrome">Chrome</a> version 25 or later.</div>
      </div>
      <div class="panel-body" id="results">
        <span id="final_span" class="final"></span>
        <span id="interim_span" class="interim"></span>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "speech" %>